<?xml version="1.0" ?>
<launch>    

  <param name="robot_id"                 value="0"/>

  <param name="gazebo"                   value="false"          type="bool"/>
  <param name="gazebo_robot_name"        value="robotis_op3"/>
    
  <param name="offset_file_path"         value="$(find op3_manager)/config/offset.yaml"/>
  <param name="robot_file_path"          value="$(find op3_manager)/config/OP3.robot"/>
  <param name="init_file_path"           value="$(find op3_manager)/config/dxl_init_OP3.yaml"/>
  <param name="device_name"              value="/dev/ttyUSB0"/>
	
  <param name="/robotis/direct_control/default_moving_time"     value="0.04"/>
  <param name="/robotis/direct_control/default_moving_angle"    value="90"/>
    
  <!-- OP3 Manager -->
  <node pkg="op3_manager" type="op3_manager" name="op3_manager" output="screen">
    <param name="angle_unit"             value="30" />
    <param name="robot_id"               value="0"/>
  </node>

  <!-- Movement node -->
  <node pkg="soccer_pkg" type="read_write" name="op3_read_write" output="screen">
    <param name="gazebo_sim"             value="false"           type="bool"/>
    <param name="robot_id"               value="0"/>
  </node>

  <!-- Camera Node --> 
  <node pkg="usb_cam" type="usb_cam" name="usb_cam" output="screen">
  </node>

  <!-- Vision Node-->
  <node pkg="soccer_pkg" type="pelotahaaros2.py" name="op3_pelotahaaros2" output="screen">
     <param name="robot_id"              value="0"/>
  </node>

  <!-- Control Node -->
  <node pkg="soccer_pkg" type="head_control_node_search.py" name="op3_head_control_node_search" output="screen">
     <param name="robot_id"              value="0"/>
  </node>

</launch>
